@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
  
  h1 {
    @apply text-3xl my-4 font-bold;
  }
  
  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  margin-top: 2em;
  padding: 0.5em;
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }
}